


/******************************************
Barra de navegação vertical
*/

/*
 * Custom CSS
 */

:root {
--bs-body-bg: var(--bs-gray-100);
}

.nav_ul_1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav_list_1 {
	position: relative;
	float: left;
	left: -850px;
	background: url(../img/seta.png) no-repeat left center;
}

.nav_ul_1 a {
	/*border: 1px solid red;*/
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background:url(../img/menu.png)  no-repeat left  bottom;
}

.nav_ul_1 a:hover {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}

#home #nav .home a,
#about #nav .about a,
#services #nav .services a {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}

.clear_div {
	clear: both;
}